a.navbar-brand{
    margin: auto;
    text-align: center;
    flex: content;
    display: flex;
    align-self: center;
}

button.navbar-{
    z-index: 100;
}
span.navbar-toggler{
    z-index: ;
}
#side_nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top : 0;
    right: 0;
    background-color: bisque;
    overflow: hidden;
    transition: ease-in 0.5s;
    text-align: center;
    padding-top: 30%;
    font-size: 1.75rem;
    color: black;
}

ul.navbar-nav{
    color: black;

}
#side_nav ul a.nav-link{
    font-weight: 300;
    color: blue;
}
