a.navbar-brand{
    margin: auto;
    text-align: center;
    flex: content;
    display: flex;
    align-self: center;
}

.wrapper{
    position: absolute;
    top: 10%;
    right: 1%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}
.search-box{
    width: 5rem;
    height: auto;
    position: relative;
}
.input{
    position: absolute;
    top: 15%;

    
    box-sizing: border-box;
    width: 0em;
    height: 2rem;
    padding: 15% ;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    color: #29313a;
    border: 2px solid #62d474;
    transition: all 1.5s ease;

}

::-webkit-input-placeholder{
    color: #62d474;
}

::-moz-placeholder{
    color: #62d474;
}

:-ms-input-placeholder{
    color: #62d474;
}

.btn{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: #62d474;
    border-radius: 50%;
    right: 45px;
    top: 10%;
    cursor: pointer;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #fff;
    transition: all 0.5s ease;
}

.input.active{
    width: fit-content;
    
    right: 50px;
}

.btn.animate{
    transform: rotate(-360deg);
    
}
ul.navbar-nav{
    color: black;

}
#side_nav ul a.nav-link{
    font-weight: 300;
    color: blue;
}
