a.navbar-brand{
    margin: auto;
    text-align: center;
    flex: content;
    display: flex;
    align-self: center;
}

#side_nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top : 0;
    right: 0;
    background-color: bisque;
    overflow: hidden;
    transition: ease-in 0.5;
}