nav{
  background-color: bisque;
  position: absolute;
  height: 2rem;

}
.nav-brand{
  top: 1px;
  left: ;
}
.hamburger-menu {
  background-color:whitesmoke;
  border: solid 2px whitesmoke;

  top: 1px;
  right: 5px;
  position: relative;
  display: block;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  transition: all 0.25s;
  z-index: 3;
  border-radius: .3rem;
  box-shadow: 0,0,3px black;
  text-align: center;
}
.hamburger-menu::after{
  z-index: 3;
  border: solid 2px tomato;
}
.bar_1,
.bar_3 {
  color: aqua;
  content: '';
display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: grey;
  transform: rotate(0);
  transition: all 0.25s;
}



.bar_1 {
  top: 5px;
  position: absolute;
  background-color:tomato;
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.bar_text {
  color: black;
  top: 5px;
  right:0;
  font-size: 10px;
  font-weight: 400;
  background: none;
  position:absolute;
vertical-align: middle;
text-align: center;
  opacity: 1;
  transition: all 1s ease;
}
.bar_3 {
  position: absolute;
  background-color: tomato;
  top: 20px;
  transform: rotate(0deg);
  transition: all 0.5s;
}



.open .bar_1 {
  transition: all 1s;
  transform: 
    rotate(-45deg) translateX(-5px) translateY(5px);
}
.open .bar_text {
  opacity: 0;
  transition: all 0.5s;
}
.open .bar_3 {
  transition: all 1s;
  transform: 
    rotate(45deg) translate(-5px)translateY(-5px);
} 

.sidenav{
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  background-color:grey;
	transform: translateX(100%);

	transition: transform .5s ease;
 
}

.active{
  bottom: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: translateX(0%);
  transition: transform .5s ease;
}

.sidenav-container{
  z-index: 4;
  top: 25%;
  position: relative;
  justify-content: center;
}

.sidenav-container li{
  font-family: cursive;
  top: 50px;
  font-size: 2rem;
  font-weight: 300;
  justify-self: center;
  display: flex;
  flex: auto;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
opacity: 1;
}

a:hover{
  cursor: pointer;
  color: tomato;
  text-decoration: none;
}
